# 6.5.2 Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2021-10-01 03:38:37,62.4560,-114.3525,47.41,100,75,4.00
1,1,Bluff,NZ,2021-10-01 03:38:38,-46.6000,168.3333,53.80,79,42,23.73
2,2,Buala,SB,2021-10-01 03:38:38,-8.1450,159.5921,85.26,66,96,4.03
3,3,Puerto Narino,CO,2021-10-01 03:38:39,-3.7703,-70.3831,73.35,97,100,1.83
4,4,Hermanus,ZA,2021-10-01 03:38:39,-34.4187,19.2345,56.80,88,99,11.97

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

NOTE: Google heatmaps does not plot negative numbers. If you have a "max_temp" that is less than 0'F, then you will get an "InvalidWeightException" error for this line of code: heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

To remove the negative temperatures, we use a for loop to iterate through the "max_temp" and added the temperatures that are greater than 0'F to a new list:

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

Instead of using the for loop, you can perform a list comprehension within the heatmap_layer() function.

Replace "weight=temps" in the heat_layer code to "weights=[max(temp, 0) for temp in max_temp])

In [6]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Adjust Heatmap Zoom, Intensity, and Point Radius

First, we're adding the geographic center of Earth in the form of latitude and longitude (30.0'N and 31.0'E) as well as a zoom level so that only one map of Earth is show.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

Circles for the temperatures need to be modified so that they are larger and show temperature gradient differences as you scroll and zoom. Dissipation option for creating heatmaps can be added to the gmaps.heat_layer() attribute.

In [8]:
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
    
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percentage Humidity Heatmap

In [9]:
# Heatmap for percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [10]:
# Heatmap for percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=cloudiness,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [11]:
# Heatmap for wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                weights=wind_speed,
                                dissipating=False,
                                max_intensity=300,
                                point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Samarai,PG,2021-10-01 03:38:41,-10.6167,150.6667,82.33,77,45,10.16
17,17,Avarua,CK,2021-10-01 03:38:43,-21.2078,-159.7750,80.65,69,20,10.36
18,18,Nabire,ID,2021-10-01 03:38:43,-3.3667,135.4833,84.09,76,68,3.53
19,19,Iralaya,HN,2021-10-01 03:38:44,15.0000,-83.2333,80.38,82,4,7.05
20,20,Pimenta Bueno,BR,2021-10-01 03:38:44,-11.6725,-61.1936,75.52,80,54,2.75
22,22,Lhokseumawe,ID,2021-10-01 03:38:45,5.1801,97.1507,84.06,69,99,1.63
27,27,Bahia Honda,CU,2021-10-01 03:38:47,22.9036,-83.1592,76.53,85,8,7.54
35,35,Bengkulu,ID,2021-10-01 03:38:49,-3.8004,102.2655,83.01,68,92,5.68
36,36,Kapaa,US,2021-10-01 03:38:49,22.0752,-159.3190,82.38,69,40,1.99
43,43,San Patricio,US,2021-10-01 03:38:51,28.0170,-97.5169,82.26,79,65,9.26

In [16]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [17]:
preferred_cities_df.notnull().sum()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

# 6.5.4 Map Vacation Criteria

In [18]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
11        Samarai      PG     82.33 -10.6167  150.6667
17         Avarua      CK     80.65 -21.2078 -159.7750
18         Nabire      ID     84.09  -3.3667  135.4833
19        Iralaya      HN     80.38  15.0000  -83.2333
20  Pimenta Bueno      BR     75.52 -11.6725  -61.1936
22    Lhokseumawe      ID     84.06   5.1801   97.1507
27    Bahia Honda      CU     76.53  22.9036  -83.1592
35       Bengkulu      ID     83.01  -3.8004  102.2655
36          Kapaa      US     82.38  22.0752 -159.3190
43   San Patricio      US     82.26  28.0170  -97.5169

In [19]:

# Set the parameters for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grad the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Samarai,PG,82.33,-10.6167,150.6667,Nuli Sapi
17,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
18,Nabire,ID,84.09,-3.3667,135.4833,Hotel Nusantara Nabire
19,Iralaya,HN,80.38,15.0000,-83.2333,Iglesia morava renovada
20,Pimenta Bueno,BR,75.52,-11.6725,-61.1936,Cristalina Palace Hotel
22,Lhokseumawe,ID,84.06,5.1801,97.1507,OYO 3278 Penginapan Alfajri
27,Bahia Honda,CU,76.53,22.9036,-83.1592,Casa Gualberto - Deysi
35,Bengkulu,ID,83.01,-3.8004,102.2655,Grage Hotel Bengkulu
36,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
43,San Patricio,US,82.26,28.0170,-97.5169,"Motel 6 Sinton, TX"

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:

# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Iterate Through hotel_df DataFrame

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head()

             City Country  Max Temp      Lat       Lng       Hotel Name
11        Samarai      PG     82.33 -10.6167  150.6667         Magesina
17         Avarua      CK     80.65 -21.2078 -159.7750  Avarua District
18         Nabire      ID     84.09  -3.3667  135.4833           Nabire
19        Iralaya      HN     80.38  15.0000  -83.2333          Iralaya
20  Pimenta Bueno      BR     75.52 -11.6725  -61.1936    Pimenta Bueno

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))